**
!Dockerfile
!package.json
!package-lock.json
!tsconfig.json
!src/
!src/**
!runtimes/
!runtimes/**
!examples/
!examples/**
!docs/
!docs/**
!README.md
!LICENSE
!NOTICE
**/.env
**/.env.*
**/node_modules
**/__pycache__
**/.venv
**/.terraform
**/*.tfstate*
**/*.tfvars
**/*.tfplan

!CHANGELOG.md
!SECURITY.md
